################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project/OOP-Project/.vs/OOP-Project/v16/Browse.VC.opendb
